body {
  padding: 0;
  margin: 0;
  background: #1C2023;
  height: 100vh;
  color: white;
}

.days {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.days::after {
  position: absolute;
  content: "D";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.hours {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.hours:after {
  position: absolute;
  content: "H";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.minutes {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.minutes:after {
  position: absolute;
  content: "M";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.header {
  background: url(/fotos/Nav.png) no-repeat right/70vw 700px;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.nav-group {
  display: flex;
  align-items: center;
  margin-left: 1%;
}
.nav-burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.nav-burger-line {
  background: white;
  width: 25px;
  height: 3px;
  margin-left: -15px;
}
.nav-tp {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nav-tp-words {
  text-decoration: none;
  color: rgb(230, 200, 200);
  font-size: 10px;
}
.nav-time {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.nav-time-text {
  color: #8C96A0;
}
.nav-time-div-numbers {
  margin: 0;
  font-size: 20px;
}
.nav-time-div-letters {
  margin: 0;
  font-size: 12px;
  letter-spacing: 18px;
}
.nav-box {
  margin-left: 260px;
  width: 400px;
  height: auto;
}
.nav-box-title {
  font-size: 60px;
}
.nav-box-button {
  width: 90px;
  height: 30px;
  background: #8856D9;
  color: white;
  font-size: 11px;
  border-radius: 15%;
  margin-top: 20px;
}

.editions-title {
  margin-left: 48%;
  font-size: 50px;
}
.editions-cards {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 20%;
}
.editions-cards-div {
  background: #141615;
  background: linear-gradient(178deg, rgb(20, 22, 21) 0%, rgb(28, 32, 35) 100%);
  padding: 15px;
  border-radius: 6px;
}
.editions-cards-div-title {
  display: flex;
  justify-content: center;
}
.editions-cards-div-text {
  display: flex;
  justify-content: center;
  color: #A9C7C7;
}
.editions-cards-div-div-description {
  color: #8C96A0;
}
.editions-cards-div-price {
  margin-left: 240px;
}
.editions-cards-div-button {
  width: 90px;
  height: 30px;
  background: #8856D9;
  color: white;
  font-size: 11px;
  border-radius: 13%;
  margin-top: -20px;
  margin-left: 227px;
}