body {
  padding: 0;
  margin: 0;
  background: #1C2023;
  height: 100vh;
  color: white;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.days {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.days::after {
  position: absolute;
  content: "D";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.hours {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.hours:after {
  position: absolute;
  content: "H";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.minutes {
  position: relative;
  z-index: 1;
  color: #A9C7C7;
  font-size: 35px;
}

.minutes:after {
  position: absolute;
  content: "M";
  top: 40px;
  left: 14px;
  font-size: 10px;
}

.header {
  background: url(/fotos/Nav.png) no-repeat right/70vw 700px;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.nav-group {
  display: flex;
  align-items: center;
  margin-left: 1%;
}
.nav-burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.nav-burger-line {
  background: white;
  width: 25px;
  height: 3px;
  margin-left: -15px;
}
.nav-tp {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nav-tp-words {
  text-decoration: none;
  color: rgb(230, 200, 200);
  font-size: 10px;
}
.nav-time {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.nav-time-text {
  color: #8C96A0;
}
.nav-time-div-numbers {
  margin: 0;
  font-size: 20px;
}
.nav-time-div-letters {
  margin: 0;
  font-size: 12px;
  letter-spacing: 18px;
}
.nav-box {
  margin-left: 260px;
  width: 400px;
  height: auto;
}
.nav-box-title {
  font-size: 60px;
}
.nav-box-button {
  width: 90px;
  height: 30px;
  background: #8856D9;
  color: white;
  font-size: 11px;
  border-radius: 15%;
  margin-top: 20px;
  cursor: pointer;
}

.editions {
  margin-left: -4%;
}
.editions-title {
  margin-left: 46%;
  font-size: 50px;
}
.editions-cards {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 20%;
}
.editions-cards-div {
  background: #141615;
  background: linear-gradient(178deg, rgb(20, 22, 21) 0%, rgb(28, 32, 35) 100%);
  padding: 15px;
  border-radius: 6px;
}
.editions-cards-div-title {
  display: flex;
  justify-content: center;
}
.editions-cards-div-text {
  display: flex;
  justify-content: center;
  color: #A9C7C7;
}
.editions-cards-div-div-description {
  color: #8C96A0;
}
.editions-cards-div-price {
  margin-left: 240px;
}
.editions-cards-div-button {
  width: 90px;
  height: 30px;
  background: #8856D9;
  color: white;
  font-size: 11px;
  border-radius: 13%;
  margin-top: -20px;
  margin-left: 227px;
  cursor: pointer;
}

.title {
  margin-left: 43%;
  font-size: 50px;
}

.DualSense {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DualSense-left {
  width: 340px;
}
.DualSense-left-div {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.DualSense-left-div-h1 {
  font-size: 20px;
}
.DualSense-left-button {
  background: red;
  width: 220px;
  height: 40px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.DualSense-left-text {
  color: #A9C7C7;
}
.DualSense-left-text-a {
  color: rgb(125, 99, 176);
  text-decoration: none;
}
.DualSense-left-textt {
  color: #A9C7C7;
}
.TrTitle {
  text-align: center;
  font-size: 50px;
}

.trailer {
  background: url(/fotos/image\ 6.png) no-repeat center/cover;
  padding-top: 457px;
  padding-bottom: 447px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trailer-title {
  font-size: 50px;
}
.trailer-button {
  background: #30373F;
  color: #FFFFFF;
  padding: 9px 26px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore-title {
  font-size: 50px;
}
.explore-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore-card-price {
  font-size: 30px;
}
.explore-card-title {
  font-size: 20px;
}
.explore-card-circle {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.explore-card-circle-bg {
  width: 54px;
  height: 25px;
  background: #30373F;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.explore-card-circle-bg-item {
  width: 18px;
  height: 17px;
  background: #8856D9;
  border-radius: 50%;
  margin-left: 5px;
  transition: all 0.4s;
}
.explore-card-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-card-cont-right-ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.explore-card-cont-right-ul-li {
  color: #8856D9;
}
.explore-card-cont-right-ul-button {
  background: red;
  width: 96px;
  height: 29px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.PC-settings {
  color: white;
}

.new-title {
  text-align: center;
  font-size: 50px;
}

.news-prev {
  background: #8856D9;
  width: 25px;
  height: 25px;
  color: white;
}
.news-next {
  background: #8856D9;
  width: 25px;
  height: 25px;
  color: white;
}
.news-slide {
  background: #30373F;
  margin-left: 20px;
  padding: 10px;
  border-radius: 6px;
}
.news-slide-top {
  display: flex;
  justify-content: space-between;
}
.news-slide-top-left {
  color: #8856D9;
}
.news-slide-top-right {
  color: #8C96A0;
}
.news-slide-title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.news-slide-main {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.news-slide-main-right {
  display: flex;
  flex-direction: column;
}
.news-slide-main-right-button {
  background: #8C96A0;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 6px 30px;
  text-transform: uppercase;
  align-self: flex-end;
  border: none;
  cursor: pointer;
}
.news-slide-main-right-text {
  min-width: 256px;
}
.news-slide-main-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.news-slide-main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Faq-title {
  text-align: center;
  font-size: 50px;
}

.faq {
  padding: 0px 450px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.faq-card-line {
  background: #8856D9;
  height: 2px;
  border: none;
}
.faq-card-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-card-question-right {
  background: #8C96A0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  width: 20px;
  height: 20px;
}
.faq-card-answer {
  position: absolute;
  transform: translateY(5px);
  transition: al 0.4s;
  opacity: 0;
  z-index: 1;
}

.show-answer {
  position: relative;
  transform: translateY(opx);
  opacity: 1;
  z-index: 1;
}

.cross {
  rotate: 45deg;
}

.orange {
  color: #FF4136;
}

.footer {
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-top-list {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.footer-top-list-words {
  font-size: 21px;
}
.footer-top-div {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.footer-top-div-english {
  color: white;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.footer-bottom-text {
  width: 904px;
  height: 51px;
  text-align: center;
}
.footer-bottom-img {
  width: 46px;
  height: 35px;
}
.footer-bottom-p-a {
  color: #8856D9;
  text-decoration: none;
}